<div class="container">            
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="text-center">Name</th>
          <th class="text-center">Descripton</th>
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody  *ngFor="let x of collectionsO; let i = index">
          <tr>
            <td>{{x.name}}</td>
            <td>{{x.descrip}}</td>
            <td>
              <div class="btn-group">
                      <button type="button" class="btn btn-primary" (click)="onFix(i)">Restore</button>                    
                      <button type="button" class="btn btn-primary" (click)="onDelete(i)">Delete</button>                    
                  </div>
            </td>       
          </tr>
      </tbody>
    </table>
  </div>    