<div class="container">            
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center">Name</th>
        <th class="text-center">Descripton</th>
        <th class="text-center">Actions</th>
        <th class="text-center">Rating</th>
      </tr>
    </thead>
    <tbody  *ngFor="let x of collections; let i = index">
            
      <tr>
        <td>{{x.name}}</td>
        <td>{{x.descrip}}</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-primary" (click)="view(i)">view</button>                    
          </div>
        </td>
        <td>
          <ng-container *ngIf ="x.publicRating==undefined; else Second">
            Be the first to rate!
          </ng-container>
          <ng-template #Second>
              {{x.publicRating}}              
          </ng-template>
        </td>        
      </tr>
    </tbody>
  </table>
</div>