<h1> Choose a collection to view </h1>
<ng-container *ngIf="owner == true">
  <button class="btn btn-red" (click)="deleteFromColl()"> Delete all instances of this picture from your collection!</button>
</ng-container>
<ng-container *ngIf="show == 1;else second">
    <div class="superBox">
        <div class="container">
            <div id="main_area">
                <!-- Slider -->
                <div class="row">
                    <div class="col-sm-3" id="slider-thumbs">
                        <!-- Bottom switcher of slider -->
                        <ul class="hide-bullets" *ngFor="let x of pictures; let i = index" >
                            <li class="col-sm-12">
                                <ng-container *ngIf="x != undefined;else nothing">                      
                                    <button ion-item class="thumbnail" (click)="onSelect(i)"> 
                                        <img src = {{x}}/>                                   
                                    </button>
                                </ng-container> 
                            </li>  
                        </ul>
                    </div>
                    <div class="col-sm-8">
                        <div class="col-xs-12" id="slider">
                            <!-- Top part of the slider -->
                            <div class="row holder">
                                <div class="col-sm-8" id="carousel-bounding-box align-middle">
                                    <div class="carousel slide" id="myCarousel">
                                        <!-- Carousel items -->
                                        <div class="carousel-inner ">
                                            <div class="active item " data-slide-number= i>
                                                <img class = "nobigger" src= {{pictures[currentpic]}}>
                                            </div>
                                        </div>
                                        <!-- Carousel nav -->
                                        <button class="left carousel-control no-border" (click)=prev()>
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </button>
                                        <button class="right carousel-control no-border" (click)="next()">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/Slider-->
                </div>
        
            </div>
        </div>
    </div>
    <ng-container *ngIf="info != 0">
        <h1>{{validity}}</h1>
        <div class="btn-group" *ngFor="let y of collections; let j = index">
                <button type="button" class="btn btn-primary" (click)="addto(j)">{{y.name}}</button>                    
        </div> 
        <br><br>
        <button type="button" class="btn btn-primary" (click)="revealNew(1)">Create New Collection With This Image</button>        
        <br><br>
        <ng-container *ngIf="theNew != 0">
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                    <form (ngSubmit)="onCreate(n)" #n="ngForm">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" id="name" name="name" ngModel class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="descrip">Description</label>
                            <input type="text" id="descrip" name="descrip" ngModel class="form-control">
                        </div>
                        <div class="form-group">
                                <label for="public">Public</label>
                                <input type="checkbox" id="public" name="public" ngModel class="form-control">
                        </div>
                        <button class="btn btn-primary" type="submit">Create New Collection With this Image</button>
                        <br><br>
                        <button class="btn btn-primary" (click)=revealNew(0)>Close</button>
                    </form>
                </div>
            </div>
        </ng-container>
      </ng-container>  
    </ng-container>   
    <ng-container *ngIf="info != 0">        
        <div class="container">            
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="text-center">Name</th>
                  <th class="text-center">Descripton</th>
                  <th class="text-center">Public</th>                  
                  <th class="text-center">Actions</th>
                </tr>
              </thead>
              <tbody  *ngFor="let x of collections; let i = index">
                      
                <tr>
                  <td>{{x.name}}</td>
                  <td>{{x.descrip}}</td>
                  <td>{{x.open}}</td>
                  <td>
                    <div class="btn-group">
                        <button type="button" class="btn btn-primary" (click)="view(i, true)">View</button>                    
                        <button type="button" class="btn btn-primary" (click)="edit(i)">Edit</button>                    
                        <button type="button" class="btn btn-primary" (click)="deleteColl(i)">Delete</button>                    
                      </div>
                  </td>       
                </tr>
              </tbody>
            </table>
          </div>    
    </ng-container>
    <ng-container *ngIf="toEdit != -1">
        <br>
        <div class="row">
            <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
                <form (ngSubmit)="onChange(m)" #m="ngForm">
                    <div class="form-group">
                        <label for="myName">Name</label>
                        <input type="text" id="myName" name="myName" ngModel class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="myDescrip">Description</label>
                        <input type="text" id="myDescrip" name="myDescrip" ngModel class="form-control">
                    </div>
                    <div class="form-group">
                            <label for="myPublic">Public</label>
                            <input type="checkbox" id="myPublic" name="myPublic" ngModel class="form-control">
                    </div>
                    <button class="btn btn-primary" type="submit">Submit Changes</button>
                    <br><br>
                    <button class="btn btn-primary" (click)=edit(-1)>Close</button>
                </form>
            </div>
        </div>
    </ng-container>
<ng-template #second>
</ng-template>   
<br><br>
<h1>{{rateValidity}}</h1>
<br><br>
  <div class="container">            
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Descripton</th>
            <th class="text-center">Actions</th>
            <th class="text-center">Rating</th>
          </tr>
        </thead>
        <tbody  *ngFor="let x of collectionsO; let i = index">
          <ng-container *ngIf="x.creator != info">      
            <tr>
              <td>{{x.name}}</td>
              <td>{{x.descrip}}</td>
              <td>
                <div class="btn-group">
                        <button type="button" class="btn btn-primary" (click)="view(i, false)">view</button>                    
                        <button type="button" class="btn btn-primary" (click)="report(i)">Report</button>                    
                    </div>
              </td>
              <td>
                <ng-container *ngIf ="x.publicRating==undefined || x.publicRating==0; else Second">
                  Be the first to rate!
                </ng-container>
                <ng-template #Second>
                    {{x.publicRating}}              
                </ng-template>
                <br>
                <ng-container *ngIf="info != 0">
                  <div class="btn-group" *ngFor="let y of numbers; let j = index">
                        <button type="button" class="btn btn-primary" (click)="rate(i, j)">{{y}}</button>                   
                    </div>
                </ng-container>
              </td>        
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>    
<app-navbar></app-navbar>
<br><br>
