<!--The content below is only a placeholder and can be replaced.-->
<script type="text/javascript" src="node_modules/auth0-js/build/auth0.js"></script>
<div style="text-align:center">
  <h1> </h1><h4> <br></h4>

  <img  width="100%" (click)="goHome()" alt="Our Cosmos Logo" src="https://i.imgur.com/K4ygS6T.jpg">

<!-- The following line inserts the sample component -->
<router-outlet></router-outlet>
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 text-center">
       <em class ="text-center">Copyright &copy; Noah Chait</em>
      </div>
    </div>
  </div>